<template name="SideNav">
  <nav class="side-nav">
    <ul>
      <!-- <li><a href="/recipe-book"><i class="fa fa-list"></i> Recipe Book</a></li> -->
      <!-- <li><a href="/menu"><i class="fa fa-map-o"></i> Menu</a></li> -->
      <!-- <li><a href="/shopping-list"><i class="fa fa-shopping-cart"></i> Shopping List</a></li> -->
      <li><a href="/newclass"><i class="fa fa-pencil"></i> 클럽생성</a></li>
      <li><a href="/addmaterial"><i class="fa fa-pencil"></i> 자료업로드</a></li>
      <li><a href="/class"><i class="fa fa-tasks"></i> 수업참여</a></li>
      <li><a href="/myclassroom"><i class="fa fa-graduation-cap"></i> 내 수업</a></li>
    </ul>
  </nav>
</template>
